.top{
    color:#EC4067;
    font-weight: 100;
    font-style: normal;
    font-size: large;
    float: left;
}
.pink{
    float: right;
}
.black{
    color: black;
    font-weight: 100;
    font-size: large;
    font-style: normal;
    float: left;
}
#border{
    color: black;
    font-size: medium;
    font-style: normal;
    float: right;
    border: 10px;
}
.m{
    color: black;
    font-size: medium;
    font-family: 'Lucida Sans';
    float: inline-start;
}
.tech{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #EC4067;
    font-size: larger;
}.one{
    font: 1em sans-serif;
    font-size: smaller;
}
.image{
    float: right;
}